.container {
    border: 1px solid grey;
    max-width: 500px;


}

.readout {
    background: #55596d;
    color: white;
    text-align: right;
    vertical-align: middle;
    font-size: 3rem;
    height: 4rem;

}